.navbar-custom{
    position: fixed;
  top: 0;
  right: -1000px;
    width: 300px;
    background-color: #fef8f0;
    height: 100vh;
    border: 1px solid black;
    padding-right: 0;
    transition: right 0.5s ease;
    overflow: hidden;
}

.navbar-custom.open {
    right: 0px;
  }

  .navbar-custom.closed {
    right: -1000px;
  }

.navbar-custom .icon{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 10px 10px;
    cursor: pointer;
}

.form-login{
    margin-top: 50px ;
    text-align: center;
}

.form-input {
    margin-bottom: 20px;
}

.form-input label {
    font-size: 14px;
    text-transform: uppercase;
}

.form-input input {
    border: 1px solid black;
    padding: 5px 10px;
}

.button-sign{
    background-color: black;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    width: 200px;
}

.action{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:hover{
    color: black!important;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.menu img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid gray;
}

.menu h1{
    font-size: 20px;
    margin: 20px 0;
}

.menu-list .item{
    text-transform: uppercase;
    margin: 10px 0;
    cursor: pointer;
    list-style: none;
    padding: 10px;
    border-radius: 5px;
}

.menu-list .item:hover{
    background-color: #f66b1d;
}

.form-result {
    width: 100%;
    height: 500px;
    overflow-y: scroll ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card-result{
    width: 80%;
    margin-top: 40px;
    border: 3px solid black;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-result .info h1{
    font-size: 35px;
}

.card-result .info .tag{
    display: flex;

}

.card-result .info .tag .tag-item{
   background-color: #f66b1d;
    border-radius: 5px;
    padding: 2px 5px;
    color: #fff;
    margin: 5px;
}

.group-button button{
    background-color: #f66b1d;
    padding: 10px 20px;
    margin: 0 20px;
    color: #fff;
    font-size: 18px;
}

.icon-top{
    position: absolute;
    top: 70px;
    right: 50px;
    font-size: 35px;
}

.header img{
    height: 50px;
    width: 50px;
    margin: 20px;
    position: absolute;
    top: 0;
}

.sidebar {
    transition: width 0.5s ease; /* Add transition property for width change */
  }
  
  .sidebar.open {
    width: 250px; /* Adjust the width as needed */
  }

  /* YourComponent.css */

.footer {
    width:100%;
    left: 0;
    bottom: 0;
    background-color: #333; /* Set background color */
    color: #fff; /* Set text color */
    text-align: center; /* Center-align text */
    padding: 20px; /* Add padding for better appearance */
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0; /* Remove default margin for the paragraph */
  }
  
  .header{
    background-color: #f66b1d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 9;
  }

  .header h2{
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    color: #fff;
  }

  .header2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    padding: 5px;
  }

  .header2 h2{
    font-size: 20px;
    padding: 0 20px;
  }

  @media screen and (max-width: 750px){
    .header h2{
        font-size: 20px;
    }

    .header2 h2{
        font-size: 15px;
    }
}